div.navbar-inverse .navbar-inner{
	border-radius: 0;
}

.navbar.navbar-inverse{
	margin:0px;
}

.iconbar{
	bottom: 0;
	top: 53px;
	position: absolute;
	height: 100%;
	border-radius: 0;
}

#calendar{
	height: 100%;
}


table.table{
	width:100%;
}


.content{
	min-height:304px;
	padding:5px 5px 5px 90px;

}